@import './config.less'; // 配置变量

// 系统
@import './common/keyframes.less'; // 动画
@import './common/common.less'; // 通用
@import './common/transition.less'; // vue动画

// ------------------------------------初始化全局样式-----------------------------------------
html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: @g-fontSize;
    background-color: @g-backgroundColor;
    color: @g-color;
    overflow: hidden;

    &.lock {
        overflow: hidden;
    }
}

// ------------------------------------框架-----------------------------------------
